.cardList {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.cardList__row:nth-child(odd) {
    background-color: #EFEBE9;
}

.cardList__row:nth-child(even) {
    background-color: #D7CCC8;
}

.cardList__cell {
    border: 1px black solid;
    margin: 0;
    padding: .5em;
    width: auto;
}

.cardList__cell--header {
    background-color: #5D4037;
    color: white;
}

.cardList__cell--description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
}

.cardList__cell--icon {
    width: 1em;
    text-align: center;
}