<ul>
    <li>
        <label>Title:</label>
        <input [(ngModel)]="revision.name" placeholder="Name" (ngModelChange)="changeDetected()">
    </li>
    <li>
        <label>Type:</label>
        <card-type-field [revision]="revision" (ngModelChange)="changeDetected()"></card-type-field>
    </li>
    <li>
        <label>Stats:</label>
        <card-stat-field [stats]="revision.stats" (ngModelChange)="changeDetected()"></card-stat-field>
    </li>
    <li>
        <label>Description:</label>
        <textarea [(ngModel)]="revision.description" placeholder="Description" (ngModelChange)="changeDetected()"></textarea>
    </li>
    <li>
        <label>Table Data:</label>
        <card-table-field [table]="revision.table" (tableChanged)="changeDetected()"></card-table-field>
    </li>
</ul>
<button (click)="submitClicked()">Submit</button>
