/* Global Styles */
body {
    margin: 0;
    font-family: DroidSerif;
}


/* Header */
.header {
    background-color: #5D4037;
    color: white;
    padding: 1em;
}


/* Container */
.container {
    padding: 1em;
}


/* Card List */
.cardList {
    border-collapse: collapse;
}
.cardList__row:nth-child(odd) {
    background-color: #EFEBE9;
}
.cardList__row:nth-child(even) {
    background-color: #D7CCC8;
}
.cardList__cell {
    border: 1px black solid;
    margin: 0;
    padding: .5em;
}
.cardList__cell--header {
    background-color: #5D4037;
    color: white;
}


/* Card Detail */
.cardDetail__container {
    display: flex;
    flex-wrap: wrap;
    background-color: #BCAAA4;
    border: 1px solid #6D4C41;
}
.cardDetail__container > * {
    margin: 10px;
}
.cardDetail__containerImage {
    /* Build a "transparency checkerboard" background. */
    background-color: white;
    background-image:
        linear-gradient(45deg, #DDD 25%, transparent 25%,transparent 75%, #DDD 75%, #DDD 100%),
        linear-gradient(45deg, #DDD 25%, transparent 25%,transparent 75%, #DDD 75%, #DDD 100%);
    background-size:26px 26px;
    background-position:0 0, 13px 13px;
}
.cardDetail__containerInfo {
    flex-grow: 1;
}
.cardDetail__containerImage img {
    width:330px;
    height: auto;
}


/* Comments */
.comment {
    display: flex;
}
.comment__profilePic {
    flex: 0 0 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 1em;
}
.comment__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.comment__header {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.comment__headerUsername {
    font-weight: bold;
    margin-right: 1em;
}
.comment__headerRole {
    color: #757575;
}
.comment__headerDate {
    margin-left: auto;
}
.comment__textBody {
    padding-top: 1em;
    white-space: pre-wrap;
}