<table class="cardList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Revision</th>
            <th>Pending Revisions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#card of cards" class="cardList__row">
            <td><a [routerLink]="['CardDetail', { id: card.id }]">{{ card.latest_revision.name }}</a></td>
            <td>{{ getTypeName(card) }}</td>
            <td>{{ card.approved_revisions }}</td>
            <td>{{ card.pending_revisions }}</td>
        </tr>
    </tbody>
</table>
<h3>Submit a new card idea:</h3>
<revision-form></revision-form>