<div *ngIf="!error">
    <div class="cardDetail__container">
        <div class="cardDetail__containerImage">
            <img src="http://localhost:8000/media/cards/renders/{{ card.latest_revision.id }}.png">
        </div>
        <div class="cardDetail__containerInfo">
            <h2>{{ card.latest_revision.name }}</h2>
        </div>
    </div>
    <hr/>
    <h3>Suggest an edit:</h3>
    <revision-form [revision]="blankRevision"></revision-form>
    <hr/>
    <h3>Card History</h3>
    <div *ngFor="#r of revisions">
        <h4>Revision by {{ r.creator }} (TODO: username)</h4>
        <p>{{ r.name }}</p>
        <button *ngIf="!r.approved_at && !r.rejected_at" (click)="approveClicked(r)">Approve</button>
        <button *ngIf="!r.approved_at && !r.rejected_at" (click)="rejectClicked(r)">Reject</button>
        <revision-form *ngIf="!r.approved_at && !r.rejected_at" [revision]="r"></revision-form>
        <hr/>
    </div>
</div>
<div *ngIf="error">
    <p>{{ error }}</p>
</div>