<ul>
    <li>
        <label>Title:</label>
        <input [(ngModel)]="revision.name" placeholder="Name">
    </li>
    <li>
        <label>Type:</label>
        <card-type-field [revision]="revision"></card-type-field>
    </li>
    <li>
        <label>Stats:</label>
        <card-stat-field [stats]="revision.stats" (statsChanged)="modifyStats($event)"></card-stat-field>
    </li>
    <li>
        <label>Description:</label>
        <textarea [(ngModel)]="revision.description" placeholder="Description"></textarea>
    </li>
</ul>
<button (click)="submitClicked()">Submit</button>